<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my Wallet</title>
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="wallet.css">
</head>
<body>
    <div class="wallet-body">
        <nav>
            <span class="siteName">Crypcon</span>
            <div class="nav-links">
                <a>Home</a>
                <a>Wallet</a>
                <a>About</a>
                <a>Exchange</a>
            </div>
        </nav>
        <header class="nav-extension">
            <div class="crypto">
                <img src="../Assets/images/green-circle.svg">
                <div>
                    <span>Bitcoin 24h</span>
                    <span>$435.97 +2.01%</span>
                </div>
            </div>
            <div class="crypto">
                <img src="../Assets/images/red-circle.svg">
                <div>
                    <span>Ethereum 24h</span>
                    <span>$435.97 +2.01%</span>
                </div>
            </div>
            <div class="crypto">
                <img src="../Assets/images/red-circle.svg">
                <div>
                    <span>XRP 24h</span>
                    <span>$435.97 +2.01%</span>
                </div>
            </div>
        </header>
        <main>
            <div class="crypto-rank">
                <div>
                    <header>Cryptocurrency</header>
                    <img src="../Assets/images/Bitcoin-color.svg">
                    <div class="crypto-details">
                        <span class="name">Bitcoin</span>
                        <img src="#">
                        <span class="fig">1.05%</span>
                    </div>
                </div>
                <div>
                    <div class="title">Current Worth</div>
                    <div class="worth">
                        <span>#5,544,889</span>
                        <span>$11,942</span>
                        <hr>
                    </div>
                </div>
                <div>
                    <div class="rank">Rank 1</div>
                    <div>Market Price</div>
                    <div class="figure">$223.5B</div>
                </div>
                <div>
                    <header>Cryptocurrency</header>
                    <img src="../Assets/images/Ethereum-color.svg">
                    <div class="crypto-details">
                        <span class="name">Ethereum</span>
                        <img src="#">
                        <span class="fig">1.05%</span>
                    </div>
                </div>
                <div>
                    <div class="title">Current Worth</div>
                    <div class="worth">
                        <span>#5,544,889</span>
                        <span>$11,942</span>
                        <hr>
                    </div>
                </div>
                <div>
                    <div class="rank">Rank 2</div>
                    <div>Market Price</div>
                    <div class="figure">$223.5B</div>
                </div>
                <div>
                    <header>Cryptocurrency</header>
                    <img src="../Assets/images/XRP-color.svg">
                    <div class="crypto-details">
                        <span class="name">XRP</span>
                        <img src="#">
                        <span class="fig">1.05%</span>
                    </div>
                </div>
                <div>
                    <div class="title">Current Worth</div>
                    <div class="worth">
                        <span>#5,544,889</span>
                        <span>$11,942</span>
                        <hr>
                    </div>
                </div>
                <div>
                    <div class="rank">Rank 3</div>
                    <div>Market Price</div>
                    <div class="figure">$223.5B</div>
                </div>
            </div>
        </main>
    </div>
    <footer>
        <div class="foot-head">
            <img src="../Assets/images/Crphcon.svg" class="watermark">
            <div class="newsletter">
                Join the millions of traders in the crypto-currency world
            </div>
            <div class="foot-nav">
                <a>About</a>
                <div class="fer"><span class="fur">t</span> @ecxinternship</div>
            </div>
        </div>
        <div class="foot-bottom">
            <span>&copy;2020 ECX INTERNSHIP</span>
            <span>Done by team-4</span>
        </div>
    </footer>
</body>
</html>